.header {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 100%;
  z-index: 2000;
  background-color: transparent;
  padding: 30px;
  font-size: 18px;
  pointer-events: none;
}

.inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  pointer-events: auto;
  position: relative;
}

/* Container for Logo */
.leftGroup {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 102; /* Above menu */
}

.rightGroup {
  position: relative;
  z-index: 102;
  display: flex;
  align-items: center;
}

.menuWrapper {
  position: relative;
}

.aboutLink {
  text-decoration: none;
  color: black;
  margin-right: 20px;
  display: flex;
  align-items: center;
  height: 20px;
  margin-top: 10px;
  margin-right: 50px;
  line-height: 1;
  cursor: pointer;
}

.aboutLink:hover {
  text-decoration: underline;
}

.brand {
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  line-height: 0;
}

.logoImage {
  width: 80px; /* Mobile default */
  height: auto;
  display: block;
}

@media (min-width: 768px) {
  .logoImage {
    width: 120px; /* Desktop */
  }
}

.menuNav {
  position: absolute;
  top: 100%; /* Below header */
  left: 50%; /* Center align */
  right: auto;
  opacity: 0;
  transform: translate(-50%, -10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  pointer-events: none;
  background: white;
  padding: 10px;
  min-width: 150px;
  text-align: center; /* Center text */
}

.menuNav.open {
  opacity: 1;
  transform: translate(-50%, 0);
  pointer-events: auto;
}

.menuTrigger {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 20px;
  margin-right: 50px; /* Added margin from right */
  margin-top: 10px; /* Added margin from top */
  transition: opacity 0.2s ease;
  line-height: 1;
}

.menuText {
    font-weight: bold;
    text-transform: lowercase;
    
    font-size: 14px;
    font-family: Consolas, monospace;
}

.menuTrigger:hover {
  opacity: 1;
  text-decoration: underline;
}

.menuList {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 50px; /* Added margin from right */

  font-family: Consolas, monospace;
  font-size: 14px;
}

.menuList li {
  margin-bottom: 5px;
}

.menuList a {
  text-decoration: none;
  color: black;
}

.menuList a:hover {
  text-decoration: underline;
}

.unlink {
  margin-top: 10px;
  font-size: 0.8em;
  color: #666;
}
